<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gmart.gmart.repository.mybatis.MemberMapper">

    <select id="findAll" resultType="MemberListResponseDto">
        select
        member_id as id,
        login_id,
        nickname,
        suspension_count,
        manner_point,
        reported_count,
        total_spent,
        created_date
        from member

        <where>
            <if test="searchMemberListDto.nickname != null and searchMemberListDto.nickname != ''">
                and nickname like concat('%', #{searchMemberListDto.nickname}, '%')
            </if>
            <if test="searchMemberListDto.loginId != null and searchMemberListDto.loginId != ''">
                and login_id like concat('%', #{searchMemberListDto.loginId}, '%')
            </if>
        </where>

        <trim prefix="order by" prefixOverrides=",">
            <choose>
                <!-- SUSPENSION -->
                <when test="searchMemberListDto.sortType.name() == 'SUSPENSION'">
                    <choose>
                        <when test="searchMemberListDto.sortDirection == null or searchMemberListDto.sortDirection.name() == 'ASC'">
                            suspension_count ASC
                        </when>
                        <otherwise>
                            suspension_count DESC
                        </otherwise>
                    </choose>
                </when>

                <!-- REPORTED -->
                <when test="searchMemberListDto.sortType.name() == 'REPORTED'">
                    <choose>
                        <when test="searchMemberListDto.sortDirection == null or searchMemberListDto.sortDirection.name() == 'ASC'">
                            reported_count ASC
                        </when>
                        <otherwise>
                            reported_count DESC
                        </otherwise>
                    </choose>
                </when>

                <!-- MANNERPOINT -->
                <when test="searchMemberListDto.sortType.name() == 'MANNERPOINT'">
                    <choose>
                        <when test="searchMemberListDto.sortDirection == null or searchMemberListDto.sortDirection.name() == 'ASC'">
                            manner_point ASC
                        </when>
                        <otherwise>
                            manner_point DESC
                        </otherwise>
                    </choose>
                </when>

                <!-- TOTALSPENT -->
                <when test="searchMemberListDto.sortType.name() == 'TOTALSPENT'">
                    <choose>
                        <when test="searchMemberListDto.sortDirection == null or searchMemberListDto.sortDirection.name() == 'ASC'">
                            total_spent ASC
                        </when>
                        <otherwise>
                            total_spent DESC
                        </otherwise>
                    </choose>
                </when>
            </choose>
        </trim>
    </select>

</mapper>